In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data=pd.read_csv('train.csv')

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_data=pd.read_csv('test.csv')

In [5]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
train_data.size

10692

In [8]:
train_data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [9]:
train_data.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [10]:
train_data.loc[train_data['Survived']==1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [11]:
len(train_data.loc[train_data['Survived']==1])# number of people who survived

342

In [12]:
per_surv=(len(train_data.loc[train_data['Survived']==1])/len(train_data))*100
print('%.3f'%per_surv)

38.384

In [13]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [14]:
data_survived=train_data.loc[train_data['Survived']==1]

In [15]:
data_survived["Age"].mean()

28.343689655172415

In [16]:
train_data["Age"].mean()

29.69911764705882

In [17]:
data_survived.sort_values('Age',ascending=False)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN
570,571,1,2,"Harris, Mr. George",male,62.0,0,0,S.W./PP 752,10.5000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
727,728,1,3,"Mannion, Miss. Margareth",female,NaN,0,0,36866,7.7375,NaN,Q
740,741,1,1,"Hawksford, Mr. Walter James",male,NaN,0,0,16988,30.0000,D45,S
828,829,1,3,"McCormack, Mr. Thomas Joseph",male,NaN,0,0,367228,7.7500,NaN,Q
839,840,1,1,"Marechal, Mr. Pierre",male,NaN,0,0,11774,29.7000,C47,C
849,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C

In [18]:
data_survived.Pclass.value_counts()

1    136
3    119
2     87
Name: Pclass, dtype: int64

In [19]:
train_data.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [20]:
sur_pclass1=(136/216)*100  #percentage survivalin pclass 1
print(sur_pclass1)

62.96296296296296

In [21]:
sur_pclass2=(87/184)*100  #percentage survival in pclass 2
print(sur_pclass2)

47.28260869565217

In [22]:
data_survived.Sex.value_counts()

female    233
male      109
Name: Sex, dtype: int64

In [23]:
sur_pclass3=(119/491)*100  #percentage survival in pclass 3
print(sur_pclass3)

24.236252545824847

In [24]:
len(train_data.loc[train_data['Survived']==0])#number of people who perished

549

In [25]:
data_perished=train_data.loc[train_data['Survived']==0]

In [26]:
data_perished.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

In [27]:
data_perished.Age.mean()

30.62617924528302

In [28]:
data_perished.sort_values('Age',ascending=False)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
745,746,0,1,"Crosby, Capt. Edward Gifford",male,70.0,1,1,WE/P 5735,71.0000,B22,S
...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [29]:
len(data_perished.loc[data_perished['Pclass']==1])#number who perished in class 1

80

In [30]:
len(data_perished.loc[data_perished['Pclass']==2])#number who perished in class 3

97

In [31]:
len(data_perished.loc[data_perished['Pclass']==3])#number who perished in class 3

372

In [32]:
data_perished['Pclass'].value_counts()

3    372
2     97
1     80
Name: Pclass, dtype: int64

In [33]:
per_pclass1=(80/216)*100  #percentage perishing in pclass 1
print(per_pclass1)

37.03703703703704

In [34]:
per_pclass2=(97/184)*100  #percentage perishing in pclass 2
print(per_pclass2)

52.71739130434783

In [35]:
per_pclass3=(372/491)*100  #percentage perishing in pclass 3
print(per_pclass3)

75.76374745417516

In [36]:
len(data_perished.loc[data_perished['Age']>40])

95

In [37]:
data_perished.SibSp.value_counts()

0    398
1     97
4     15
2     15
3     12
8      7
5      5
Name: SibSp, dtype: int64

In [38]:
train_data.SibSp.value_counts()

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [39]:
data_survived.SibSp.value_counts()

0    210
1    112
2     13
3      4
4      3
Name: SibSp, dtype: int64

In [40]:
train_data.Parch.value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

In [41]:
data_survived.Parch.value_counts()

0    233
1     65
2     40
3      3
5      1
Name: Parch, dtype: int64

In [42]:
data_perished.Parch.value_counts()

0    445
1     53
2     40
5      4
4      4
3      2
6      1
Name: Parch, dtype: int64

In [43]:
train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [44]:
from sklearn.preprocessing import LabelEncoder
lc=LabelEncoder()
train_data.Sex=lc.fit_transform(train_data.Sex)

In [45]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

In [46]:
train_data.duplicated().sum()# no duplicates

0

In [47]:
y=[4,17,19,4,5,6,7,10]
for i in y:
    if i not in np.arange(0,12):
        print(i,' is Absent')

17  is Absent
19  is Absent

In [47]:
train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [48]:
train_data["Age"].fillna(test_data["Age"].median(),inplace=True)

In [49]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [50]:
test_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [51]:
test_data["Age"].fillna(test_data["Age"].median(),inplace=True)

In [52]:
train_data['Age']=train_data['Age'].replace(np.arange(0,13),'child')
train_data['Age']=train_data['Age'].replace(np.arange(13,20),'teen')
train_data['Age']=train_data['Age'].replace(np.arange(20,41),'Adult')
train_data['Age']=train_data['Age'].replace(np.arange(41,100),'elder')
train_data['Age']=train_data['Age'].replace([0.75,0.83,0.92,0.67,0.42],'child')
train_data['Age']=train_data['Age'].replace([14.5,20.5],'teen')
train_data['Age']=train_data['Age'].replace([34.5,23.5,32.5,30.5,28.5,24.5,36.5],'Adult')
train_data['Age']=train_data['Age'].replace([45.5,40.5,55.5,70.5],'elder')

In [53]:
train_data["Age"].value_counts()

Adult    576
elder    150
teen      96
child     69
Name: Age, dtype: int64

In [54]:
test_data['Age']=test_data['Age'].replace(np.arange(0,13),'child')
test_data['Age']=test_data['Age'].replace(np.arange(13,20),'teen')
test_data['Age']=test_data['Age'].replace(np.arange(20,41),'Adult')
test_data['Age']=test_data['Age'].replace(np.arange(41,100),'elder')
test_data['Age']=test_data['Age'].replace([0.17,0.83,0.75,0.92,0.33,11.5],'child')
test_data['Age']=test_data['Age'].replace([14.5,18.5],'teen')
test_data['Age']=test_data['Age'].replace([34.5,38.5,22.5,28.5,32.5,26.5,36.5],'Adult')
test_data['Age']=test_data['Age'].replace([60.5,40.5],'elder')

In [55]:
test_data["Age"].unique()

array(['Adult', 'elder', 'teen', 'child'], dtype=object)

In [56]:
test_data.Sex=lc.fit_transform(test_data.Sex)

In [57]:
train_data.Age=train_data.Age.map({'Adult':3,'elder':2,'teen':1,'child':0})
test_data.Age=test_data.Age.map({'Adult':3,'elder':2,'teen':1,'child':0})

In [58]:
train_data['Age'].value_counts()

3    576
2    150
1     96
0     69
Name: Age, dtype: int64

In [59]:
X=train_data.drop(labels=['PassengerId','Survived','Name','Ticket','Fare','Cabin','Embarked'],axis=1)
y=train_data.Survived

In [60]:
X.head()

   Pclass  Sex  Age  SibSp  Parch
0       3    1    3      1      0
1       1    0    3      1      0
2       3    0    3      0      0
3       1    0    3      1      0
4       3    1    3      0      0

In [61]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [62]:
X_test=test_data.drop(labels=['PassengerId','Name','Ticket','Fare','Cabin','Embarked'],axis=1)

In [63]:
X_test.head()

   Pclass  Sex  Age  SibSp  Parch
0       3    1    3      0      0
1       3    0    2      1      0
2       2    1    2      0      0
3       3    1    3      0      0
4       3    0    3      1      1

In [64]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=42)

In [65]:
from collections import Counter
from imblearn.over_sampling import SMOTE
sm=SMOTE()
print(Counter (y_train))
X_sm,y_sm=sm.fit_resample(X_train,y_train)
print(Counter(y_sm))

Counter({0: 415, 1: 253})
Counter({1: 415, 0: 415})

In [66]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=100)

In [67]:
rf.fit(X_sm,y_sm)

RandomForestClassifier()

In [68]:
y_tr_pr=rf.predict(X_sm)

In [69]:
from sklearn.metrics import accuracy_score,f1_score,confusion_matrix

In [70]:
acc=accuracy_score(y_sm,y_tr_pr)
print(acc)

0.8361445783132531

In [71]:
y_predict=rf.predict(X_test)

In [72]:
y_predict

array([0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0], dtype=int64)

In [73]:
accuracy=accuracy_score(y_test,y_predict)
accuracy

0.8071748878923767

In [74]:
confusion_matrix=confusion_matrix(y_test,y_predict)
confusion_matrix

array([[118,  16],
       [ 27,  62]], dtype=int64)

In [114]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': y_predict})

In [115]:
output.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [116]:
output.to_csv('submission2.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [75]:
from xgboost import XGBClassifier

In [76]:
xg=XGBClassifier()
xg.fit(X_sm,y_sm)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [80]:
train_prediction=xg.predict(X_sm)

In [81]:
train_accuracy=accuracy_score(y_sm,train_prediction)
print(train_accuracy)

0.8361445783132531

In [82]:
predictions=xg.predict(X_test)

In [83]:
test_prediction=accuracy_score(y_test,predictions)
print(test_prediction)

0.8026905829596412

In [87]:
from sklearn.neighbors import KNeighborsClassifier
kn=KNeighborsClassifier(n_neighbors=5)
kn.fit(X_sm,y_sm)

KNeighborsClassifier()

In [88]:
tra_pred=kn.predict(X_sm)

In [89]:
test_pred=kn.predict(X_test)

In [92]:
accurr_tra=accuracy_score(y_sm,tra_pred)
print(accurr_tra)

0.8072289156626506

In [93]:
accu_test=accuracy_score(y_test,test_pred)
print(accu_test)

0.7892376681614349

In [78]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})

ValueError: array length 223 does not match index length 418

In [108]:
output.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [109]:
output.to_csv('submission1.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!